@charset "UTF-8";
/*
 * Função que arredonda valores decimais com sass
 */
/*
 * Converte Px para rem
*/
/*
 * Uma maneira de gerar tamanhos flexiveis de uma tela para outra,
 * da forma que em telas intermediarias, os espaços fiquem sincronizados
 *
 * @exemple
 * no decktop com 1000px deve ter uma margem de 100px
 * no mobile com 500px deve ter uma margem de 50px
 * usando esse mixin quando a pessoa tiver em uma tela de
 * 750px a borda vai estar com 75px sem usar @media
 */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 1026px) {
  .title {
    font-size: max(0.875rem, min(0.566rem + 0.482vw, 1rem));
    line-height: 19.2px;
  }
}
@media (max-width: 1025px) {
  .title {
    font-size: 0.875rem;
    list-style: 16.8px;
  }
}

.container {
  grid-area: filter;

}
@media (min-width: 1026px) {
  .container {
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    height: min-content;
  }
}
@media (max-width: 1025px) {
  .container {
    width: 100%;
    max-width: 100vw;
  }
}

@media (min-width: 1026px) {
  .header__container {
    align-items: center;
    padding: 0.25rem 1.5rem;
  }
}
@media (max-width: 1025px) {
  .header__container {
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
    height: 5.5rem;
    width: 100vw;
    transform: translateX(calc(var(--wrapper-padding) * -1));
  }
}

.content {
  max-height: max(25.875rem, min(7.042rem + 29.398vw, 33.5rem));
  overflow-y: auto;
  /* Chrome, Edge and Safari */
}
@media (min-width: 1026px) {
  .content {
    margin-right: max(0.5rem, min(-0.117rem + 0.964vw, 0.75rem));
  }
}