.title {
  @include media(">desktop") {
    font-size: dynamicSize($fs-body-medium, $fs-body-large, $bp-desktop, $bp-medium-desktop);
    line-height: 19.2px;
  }

  @include media("<=desktop") {
    font-size: rem($fs-body-medium);
    list-style: 16.8px;
  }
}

.container {
  grid-area: filter;

  @include media(">desktop") {
    border: 1px solid #E7E7E7;
    border-radius: $br-2;
    max-width: dynamicSize(470, 616, $bp-desktop, $bp-medium-desktop);
    height: min-content;
  }

  @include media("<=desktop") {
    width: 100%;
    max-width: 100vw;
  }
}

.header__container {
  @include media(">desktop") {
    align-items: center;
    padding: rem(4px) rem(24px);
    height: dynamicSize(56, 68, $bp-desktop, $bp-medium-desktop);
  }

  @include media("<=desktop") {
    flex-direction: column;
    gap: 8px;
    padding: rem(16px);
    height: rem(88px);
    width: 100vw;
    transform: translateX(calc(var(--wrapper-padding)* -1));
  }
}

.content {
  max-height: dynamicSize(414, 536, $bp-desktop, $bp-medium-desktop);
  overflow-y: auto;

  @include media(">desktop") {
    margin-right: dynamicSize(8, 12, $bp-desktop, $bp-medium-desktop);
  }

  /* Chrome, Edge and Safari */
  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:active {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #D1D1D1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: darken(#D1D1D1, 10%);
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: darken(#D1D1D1, 10%);
  }

  &::-webkit-scrollbar-track-piece:end {
    background-color: #E8E6E5;
    margin-bottom: 24px;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track-piece:start {
    background: #E8E6E5;
    margin-top: 32px;
    border-radius: 20px;
  }
}