

.filterItemsContainer {
 

    overflow-y: scroll;
    height: calc(100vh - 250px);
    max-width: 420px;
}
.filterItemsContainer::-webkit-scrollbar {
    width: 8px;
}
.filterItemsContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}
.filterItemsContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.phoneLink{
    display:block;
    margin-top:8px;
    color:#cf4759;
    font-weight:600;
    text-decoration:none;
    margin-bottom: .5rem;
    text-decoration: none;
}
.viewMapButton{
    background: #375b99;
    color:#fff;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
    border:none;
    width:150px;
    height:40px;
    text-align:center;
    line-height:40px;
    border-radius:8px;
    cursor:pointer;
}

