.stores {
  @include media(">desktop") {
    padding: dynamicSize(16, 24, $bp-desktop, $bp-medium-desktop) dynamicSize(20, 32, $bp-desktop, $bp-medium-desktop) 4px dynamicSize(32, 44, $bp-desktop, $bp-medium-desktop);
    gap: rem(24);
  }

  @include media("<=desktop") {
    padding: rem(20) 0 0;

    [class*="swiper-button-prev"],
    [class*="swiper-button-next"] {
      display: none !important;
    }
  }
}

.store {
  @include media(">desktop") {
    padding-bottom: rem(24);

    &:not(:last-child) {
      border-bottom: 1px solid #E7E7E7;
    }
  }

  @include media("<=desktop") {
    border: 1px solid #E7E7E7;
    border-radius: rem($br-2);
    height: rem(292);
    padding: rem(20) rem(12) rem(20) rem(20);
    display: flex;
    flex-direction: column;
  }

  &[aria-selected="true"] {

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: rem(4);
      height: rem(48);
      border-radius: rem(12);
      background-color: $c-primary-main;

      @include media(">desktop") {
        left: -12px;
        top: 0;
        transform: translateX(-100%);
      }

      @include media("<=desktop") {
        left: 10px;
        top: 20px;
      }
    }
  }
}

.buttons {
  @include media(">desktop") {
    margin-top: rem(24);
    gap: rem(8)
  }

  @include media("<=desktop") {

    margin-top: auto;
    gap: rem(16)
  }
}

.button--store {
  @include media(">desktop") {
    width: rem(160);
  }

  @include media("<=desktop") {
    width: 100%;
  }
}

.button--whatsApp {
  @include media(">desktop") {

    width: 180px;
  }

  @include media("<=desktop") {
    width: 100%;
  }
}

.item__title {
  margin-bottom: rem(2);

}

.item__icon {
  width: dynamicSize(24, 32, $bp-desktop, $bp-medium-desktop);
  height: dynamicSize(24, 32, $bp-desktop, $bp-medium-desktop);
  min-width: dynamicSize(24, 32, $bp-desktop, $bp-medium-desktop);
  min-height: dynamicSize(24, 32, $bp-desktop, $bp-medium-desktop);
}

.item__subtitle {
  @include media(">desktop") {
    margin-bottom: rem(16);
  }

  @include media("<=desktop") {
    margin-bottom: rem(24)
  }
}

.items {
  gap: rem(8);

  @include media("<=desktop") {
    margin-bottom: rem(24);
  }
}

.item {
  gap: rem(8)
}

.item__text {
  font-size: dynamicSize($fs-body-medium, 15, $bp-desktop, $bp-medium-desktop);
}

.item__text-map-button {
  font-size: dynamicSize($fs-body-small, 13, $bp-desktop, $bp-medium-desktop);

  @include hvr-underline-from-left($c-primary-main);
}