.storeMapContainer {
    height: calc(100vh - 250px);
    width: 100%;
    max-width: 800px;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 1rem;
    z-index: 0;
}

@media(max-width: 768px) {
    .storeMapContainer {
        height: calc(100vh - 600px);
    }

}

.storeMap {
    height: 100%;
    width: 100%;
    z-index: 0;
    
}

.store-popup {
    font-size: 14px;
    line-height: 1.4;
}

.store-popup strong {
    display: block;
    margin-bottom: 4px;
    color: #0f3e99;
}
